body{
            background-color: #e6ffff;
        }

        table {  

        border-collapse: collapse;
        width: 75%;
        background-color: white;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
        margin: 90px auto;
        border-radius: 15px;
        overflow: hidden;
        transition: transform 0.3s ease;
        }

    table:hover {
        transform: scale(1.02);
    }

    th, td {
        border: 1px solid #e0e0e0;
        text-align: center;
        padding: 12px;
        font-size: 16px;
    }

    th {
        background: linear-gradient(90deg, #198754, #28a745);
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    tr:nth-child(even) {
        background-color: #f8f9fa;
    }

    tr:nth-child(odd) {
        background-color: #ffffff;
    }

    tr:hover {
        background-color: #e9f7ef;
        cursor: pointer;
        transition: 0.3s;
    }

    td {
        color: #333;
    }